.Card {
  background-color: rgba(198, 202, 82, 0.37);
  display: flex;
  position: relative;
  flex-wrap: row wrap;
  padding: 10px;
  margin-left: 30px;
  margin-top: -80px;
}

.Card3 {
  background-color: rgba(177, 82, 202, 33%);
  margin: 12px 6px 2px 6px;
  max-width: 280px;
  max-height: 90px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}
.Card4 {
  background-color: rgba(177, 82, 202, 33%);
  margin: 2px 6px 2px 6px;
  max-width: 280px;
  max-height: auto;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.center {
  text-align: center;
}

.width-100 {
  width: 100%;
}
