.Card{
    background-color: aquamarine;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 30px;
    margin-top: -80px;
    

}
.Card1{
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 10px;
    background-color: yellow;
    margin-left: 30px;
    margin-top: -80px;

}
.all{
    
}

.Card3{
    background-color: lightgray;

}
.Card4{
    background-color: lightslategray;

}

.center {
    text-align: center;
}

.width-100 {
    width: 100%;
}