body{
    background-image: url('../assets/mario_landingPage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: flex;
    width: 100vw;
    height: 100vh;
}

.landingfont{
    display: flex;
    justify-content: center;
    align-items: center;  
    color: white;
    margin-top: 500px;
    
}

.buttonLanding{
    width: 160px;
    height: 40px;
    position: relative;    
    margin-top: 30px;
    margin-left: 630px;
    border-radius: 10px;
    background-color: yellow;
    color: black;
    text-decoration: none;
}

.buttonLanding:hover{
    background-color: black;
    color: white;
    text-decoration: none;
}
